.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.first {
  width: 100px;
  height: 200px;
  background-color: #fff;
}