.page {
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  color: #fff;
  min-width: 320px;
  box-sizing: border-box;
}