.element__icon-heart {
  width: 22px;
  height: 19px;
  margin-top: 6px;
  background-image: url(../../../images/Vector-heart.svg);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.element__icon-heart:hover {
  opacity: 0.5;
}