.popup__container {
  width: 430px;
  min-height: 330px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  padding: 34px 36px 37px 36px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  position: relative; 
}

@media screen and (max-width: 1023px) {
  .popup__container {
  width: 282px;
  min-height: 322px;
  padding: 25px 22px;
  }
}