.profile {
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 flex-wrap: wrap;
 padding: 40px 0 51px 0;
}

@media screen and (max-width:1023px) {
  .profile {
    padding: 40px 27px 51px 27px;
   }
}

@media screen and (max-width:635px) {
  .profile {
    padding: 42px 19px 50px 19px;
    justify-content: center;
   }
}