.header {
  max-width: 880px;
  height: 74px;
  padding: 45px 0 0 0;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  margin: 0 auto;
}

@media screen and (max-width:1023px) {
  .header {
    box-sizing: border-box;
    padding: 28px 0 0 27px;
  }
}