.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: start;
  align-content: center;
  margin: 0 auto;
  max-width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width:1023px) {
  .elements {
    padding: 0 19px;
    max-width: 619px;
  }
}

@media screen and (max-width:619px) {
  .elements {
    max-width: 320px;
  }
}