.popup__close {
  background-image: url(../../../images/Close.svg);
  position: absolute;
  right: -42px;
  top: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .popup__close {
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}