.profile__info {
  min-height: 73px;
  margin: 29px 0 0 32px;
  display: grid;
  grid-template-columns: repeat(2, fit-content(300px));
  grid-template-rows: repeat(2, fit-content(40px));
  align-items: flex-end;
  row-gap: 7px;
  column-gap: 21px;
}

@media screen and (max-width:1023px) {
  .profile__info {
    row-gap: 7px;
  }
}

@media screen and (max-width:390px) {
  .profile__info {
    column-gap: 11px;
    margin: 29px 0 0 28px;
  }
}