.profile__image-container {
  position: relative;
  cursor: pointer;
}

.profile__image-container::after {
  content: url('../../../images/icon_avatar.svg');
  display: none; 
  position: absolute;
  left: 48px;
  top: 48px;
  z-index: 999;
}

.profile__image-container:hover::after {
  display: block;
}

.profile__image-container::before {
  content: '';
  display: none; 
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  color: white;
}

.profile__image-container:hover::before {
  display: block;
}