.popup {
  width: 100vw;
  min-width: 320px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: visibility 0.2s, opacity 0.3s linear;
}